body {
	background-color: black;
}

.title {
	color: #00FF00;
	font-size: 30px;
	text-align: center;
	width: 100%;
	font-family: Arial;
}

input[type=submit] {
	padding:25px 35px;
	border: 5px solid #00FF00;
    cursor:pointer;
    border-radius: 5px;
    background-color: black; 
    color: #00FF00;
    font-family: Arial;
    font-size: 30px;
}

.bottom {
	text-align: center;
	margin: 40px 0px 0px 0px;
}

input[type=submit]:hover {
	color: yellow;
}

p {
	color: #00FF00;
	font-size: 30px;
	text-align: center;
	width: 100%;
	font-family: Arial;
}

.textField {
	font-size: 25px;
}

.table {
	position: fixed;
    top: 15%;
    right: 25%; 
    width: 50%;
	border: 5px solid #00FF00;
    border-radius: 10px;
	position:absolute; 
	color: #00FF00;
	font-size: 25px;
	text-align: center;
	font-family: Arial;	
}

table th {
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 30px;
  text-align: center;
  color: #00FF00;
}

table td {
	padding-left: 10px;
	padding-bottom: 12px;
	text-align: center;
}

.scoreCell {
	padding-right: 12px;
}

.rankingType {
	color: #00FF00;
	font-size: 20px;
	font-family: Arial;
	text-align: center;
	width: 100%;
	margin: 560px 0px 0px 0px;
}